@import "../../global.scss";

.topbar {
  width: 100%;
  height: 5vw;
  overflow: hidden;
  background-color: white;
  color: $mainColor;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 1s ease;
  @include mobile {
    min-height: 70px;
  }

  .wrapper {
    // padding: 8px 35px;
    padding: 1.5vh 2.27vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile {
      padding: 12px 25px;
    }

    .left {
      display: flex;
      align-items: center;

      .logo {
        // font-size: 35px;
        font-size: 2.27vw;
        font-weight: 700;
        text-decoration: none;
        color: inherit;
        // margin-right: 40px;
        margin-right: 2.6vw;
        background: rgb(43, 77, 89);
        background: linear-gradient(
          90deg,
          rgba(43, 77, 89, 1) 0%,
          rgba(57, 153, 142, 1) 100%
        );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.8s ease;

        @include mobile {
          font-size: 28px;
        }

        &:hover {
          letter-spacing: 0.0455vw;
        }

        &.active {
          font-size: 2.27vw;
          font-weight: 700;
          text-decoration: none;
          margin-right: 2.6vw;
          background: rgb(255, 255, 255);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;

          @include mobile {
            font-size: 28px;
          }
        }
      }

      .itemContainer {
        display: flex;
        align-items: center;
        margin-right: 1.95vw;

        @include mobile {
          display: none;
        }

        .icon {
          font-size: 1.17vw;
          margin-right: 0.325vw;
        }

        span {
          font-size: 0.97vw;
          font-weight: 400;
        }
      }
    }

    .center {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background: linear-gradient(
        90deg,
        rgba(43, 77, 89, 1) 0%,
        rgba(57, 153, 142, 1) 100%
      );
      border-radius: 0.6vw;
      transition: all 0.8s ease;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
      @include mobile {
        display: none;
      }
      &:hover {
        // transition: all 0.25s ease-in-out;
        box-shadow: 0 0.05vw 0.6vw 0 rgba(51, 122, 114, 0.15),
          0 0.06vw 0.3vw 0 rgba(51, 122, 114, 0.1);
      }
      &.active {
        background: rgba(0, 0, 0, 0);
      }

      .resumeContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: white;
        padding: 0.25vw 0.6vw;
        margin: 0.15vw;
        border-radius: 0.45vw;
        cursor: pointer;
        color: black;
        text-decoration: none;
        transition: all 0.8s ease;
        border: 0.15vw transparent solid;
        &.active {
          background: transparent;
          color: white;
          border: 0.15vw white solid;
        }
        .downloadIcon {
          font-size: 1.2vw;
          margin-right: 0.4vw;
          color: rgba(43, 77, 89, 1);
          &.active {
            color: rgba(255, 255, 255, 1);
          }
        }
        .downloadText {
          margin: auto 0;
          font-size: 1vw;
        }
      }
    }

    .right {
      display: flex;

      .socialsContainer {
        width: 13vw;
        height: 100%;
        overflow: hidden;
        margin-right: 3.25vw;
        @include mobile {
          display: none;
        }

        .socials {
          width: 100%;
          text-align: center;
          display: flex;
          justify-content: space-between;

          .linkedInDiv {
            display: flex;
            width: 2.27vw;
            height: 2.27vw;
            overflow: hidden;
            border-radius: 100%;
            background: transparent;
            color: rgba(0, 0, 0, 0.3);
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            transition: all 0.3s ease-in-out;
            border: 0.14vw solid rgba(0, 0, 0, 0.3);
            i {
              font-size: 1.3vw;
              margin: auto;
            }

            &:hover {
              background: rgb(0, 119, 181);
              border-color: rgb(0, 119, 181);
              color: rgba(255, 255, 255, 1);
            }
          }
          .active {
            color: rgba(255, 255, 255, 1);
            border-color: rgba(255, 255, 255, 1);
          }

          .githubDiv {
            display: flex;
            width: 2.27vw;
            height: 2.27vw;
            overflow: hidden;
            border-radius: 100%;
            background: transparent;
            color: rgba(0, 0, 0, 0.3);
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            transition: all 0.3s ease-in-out;
            border: 0.14vw solid rgba(0, 0, 0, 0.3);
            i {
              font-size: 1.3vw;
              margin: auto;
            }

            &:hover {
              background: #2b3127;
              border-color: #2b3127;
              color: rgba(255, 255, 255, 1);
            }
          }
          .active {
            color: rgba(255, 255, 255, 1);
            border-color: rgba(255, 255, 255, 1);
          }

          .instaDiv {
            display: flex;
            width: 2.27vw;
            height: 2.27vw;
            overflow: hidden;
            border-radius: 100%;
            background: transparent;
            color: rgba(0, 0, 0, 0.3);
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            transition: all 0.3s ease-in-out;
            border: 0.14vw solid rgba(0, 0, 0, 0.3);
            i {
              font-size: 1.3vw;
              margin: auto;
            }

            &:hover {
              background: radial-gradient(
                  circle farthest-corner at 35% 90%,
                  #fec564,
                  transparent 50%
                ),
                radial-gradient(
                  circle farthest-corner at 0 140%,
                  #fec564,
                  transparent 50%
                ),
                radial-gradient(
                  ellipse farthest-corner at 0 -25%,
                  #5258cf,
                  transparent 50%
                ),
                radial-gradient(
                  ellipse farthest-corner at 20% -50%,
                  #5258cf,
                  transparent 50%
                ),
                radial-gradient(
                  ellipse farthest-corner at 100% 0,
                  #893dc2,
                  transparent 50%
                ),
                radial-gradient(
                  ellipse farthest-corner at 60% -20%,
                  #893dc2,
                  transparent 50%
                ),
                radial-gradient(
                  ellipse farthest-corner at 100% 100%,
                  #d9317a,
                  transparent
                ),
                linear-gradient(
                  #6559ca,
                  #bc318f 30%,
                  #e33f5f 50%,
                  #f77638 70%,
                  #fec66d 100%
                );

              border-color: rgba(0, 0, 0, 0.7);
              color: rgba(255, 255, 255, 1);
            }
          }
          .active {
            color: rgba(255, 255, 255, 1);
            border-color: rgba(255, 255, 255, 1);
          }

          .youtubeDiv {
            display: flex;
            width: 2.27vw;
            height: 2.27vw;
            overflow: hidden;
            border-radius: 100%;
            background: transparent;
            color: rgba(0, 0, 0, 0.3);
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            transition: all 0.2s ease-in-out;
            border: 0.14vw solid rgba(0, 0, 0, 0.3);
            i {
              font-size: 1.3vw;
              margin: auto;
            }

            &:hover {
              background: rgb(230, 33, 23);
              // background: #b21317;
              // border-color: #b21317;
              border-color: rgb(230, 33, 23);
              color: rgba(255, 255, 255, 1);
            }
          }
          .active {
            color: rgba(255, 255, 255, 1);
            border-color: rgba(255, 255, 255, 1);
          }
        }
      }
      .hamburger {
        width: 2.08vw;
        height: 1.625vw;
        margin: auto 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        transition: all ease 0.8s;

        @include mobile {
          width: 28px;
          height: 23px;
        }

        span {
          width: 100%;
          height: 0.16vw;
          background-color: $mainColor;
          transform-origin: left;
          transition: all 0.8s ease;

          @include mobile {
            height: 2.5px;
          }
        }
      }
    }
  }

  &.active {
    background-color: $mainColor;
    color: white;

    .hamburger {
      span {
        &:first-child {
          background-color: white;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: white;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
