@import "../../global.scss";

.contact {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;

  .contactTitle {
    font-size: 3.25vw;
    overflow: hidden;
    margin-bottom: 2.25vw;

    @include mobile {
      font-size: 32px;
      margin: 0;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  .formContainer {
    width: 45vw;
    height: fit-content;
    border-radius: 1.9vw;
    -webkit-border-radius: 1.9vw;
    -moz-border-radius: 1.9vw;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 10px 0 rgba(51, 122, 114, 0.15),
      0 6px 20px 0 rgba(51, 122, 114, 0.1);
    text-align: center;

    @include mobile {
      width: 85%;
      border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
    }

    .formInner {
      display: flex;
      align-items: center;
      justify-content: center;
      height: fit-content;
      margin: 1.3vw;

      @include mobile {
        margin: 14px 18px;
      }

      p {
        margin: 0;
        font-size: 1vw;
        @include mobile {
          font-size: 14px;
        }
      }

      .formTopWrapper {
        width: 42.5vw;
        display: flex;
        flex-direction: row;
        align-items: center;

        .topP {
          margin: 0;
          width: 100%;

          @include mobile {
          }
        }

        @include mobile {
          width: 100%;
        }
      }

      .formInput {
        width: calc(100% - 7px);
        border-style: solid;
        border-color: rgb(230, 230, 230);
        border-radius: 0.6vw;
        -webkit-border-radius: 0.6vw;
        -moz-border-radius: 0.6vw;
        border-width: 2px;
        padding: 0.4vw 0.7vw;
        font-size: 1vw;
        margin: 0.5vw 0.3vw;
        transition: all 0.2s ease-in-out;
        @include mobile {
          font-size: 14px;
          border-width: 1.5px;
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          padding: 5px 7px;
          margin: 7px 0;
        }

        &:focus {
          outline: none !important;
          box-shadow: 0 1px 5px 0 rgba(51, 122, 114, 0.15),
            0 3px 10px 0 rgba(51, 122, 114, 0.1);
        }
        &:hover {
          outline: none !important;
          box-shadow: 0 1px 5px 0 rgba(51, 122, 114, 0.15),
            0 3px 10px 0 rgba(51, 122, 114, 0.1);
        }

        &:not(:valid) {
          &:not(:placeholder-shown) {
            border-color: rgba(225, 60, 60, 0.5);
            box-shadow: 0 1px 3px 0 rgba(225, 60, 60, 0.5),
              0 0px 3px 0 rgba(225, 60, 60, 0.5);
          }
        }

        &:valid {
          border-color: rgb(230, 230, 230);
        }
      }

      .formTextArea {
        border-style: solid;
        border-color: rgb(230, 230, 230);
        border-radius: 0.6vw;
        -webkit-border-radius: 0.6vw;
        -moz-border-radius: 0.6vw;
        border-width: 2px;
        padding: 0.4vw 0.55vw;
        margin: 0.5vw 0.3vw;
        resize: none;
        width: 98.8%;
        font-size: 1vw;
        transition: all 0.2s ease-in-out;
        &:focus {
          outline: none !important;
          box-shadow: 0 1px 5px 0 rgba(51, 122, 114, 0.15),
            0 3px 10px 0 rgba(51, 122, 114, 0.1);
        }
        &:hover {
          outline: none !important;
          box-shadow: 0 1px 5px 0 rgba(51, 122, 114, 0.15),
            0 3px 10px 0 rgba(51, 122, 114, 0.1);
        }

        @include mobile {
          width: 98%;
          font-size: 14px;
          border-width: 1.5px;
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          padding: 5px 7px;
          margin-top: 7px 0;
        }
      }
      .sentText-false {
        display: none;
        text-align: center;
      }
      .sentText-true {
        color: green;
        font-size: 1vw;
        margin-bottom: 0.8vw;
        text-align: center;
      }

      .submitButton {
        width: fit-content;
        padding: 0.3vw 0.7vw;
        border-radius: 0.7vw;
        font-size: 1vw;
        color: white;
        border: none;
        display: block;
        display: block;
        margin: 0px auto;
        position: relative;
        background-image: linear-gradient(
          90deg,
          rgba(43, 77, 89, 1) 0%,
          rgba(57, 153, 142, 1) 100%
        );
        z-index: 1;

        @include mobile {
          border-radius: 10px;
          padding: 4px 10px;
          font-size: 14px;
        }

        &:before {
          position: absolute;
          border-radius: 0.7vw;
          content: "";
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-image: linear-gradient(
            90deg,
            rgba(57, 153, 142, 1) 0%,
            rgba(43, 77, 89, 1) 100%
          );
          z-index: -1;
          transition: opacity 0.7s linear;
          opacity: 0;
        }

        &:hover::before {
          opacity: 1;
        }
      }

      .recaptchaContainer {
        display: flex;
        overflow: hidden;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100px;
        div {
          height: 80px;
          overflow: hidden;
          text-align: center;
        }
      }
    }
  }
}
