.intro-section {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

.isec__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  height: 100%;
  z-index: 1;
}

.isec__left .text-container {
  margin-left: 25%;
}

.isec__left .title {
  color: var(--mainWhite);
  font-size: 3.5rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

.isec__left .subtitle {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  color: var(--mainWhite);
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

.bullet-dot {
  margin: 0 0.5rem;
  background-color: var(--mainWhite);
  margin-top: 6px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

.isec__right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  z-index: 1;
}

.isec__left .cta-button {
  border: 1px solid var(--mainWhite);
  outline: none;
  background: none;
  color: var(--mainWhite);
  margin-top: 40px;
  padding: 0.75rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease;
  width: fit-content;
  text-decoration: none;
}

.isec__left .cta-icon {
  width: 20px;
  margin-top: 2px;
  margin-left: 0.6rem;
  /* fill: var(--mainWhite); */
  transition: all 0.25s ease;
}

.isec__left .cta-button:hover {
  background-color: var(--mainWhite);
  color: var(--mainBlack);
}

.isec__left .cta-button:hover .cta-icon {
  margin-left: 0.85rem;
}